{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar_cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 

    <!-- ativar mascaras -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    <script src="{% static 'js/mascaras.js' %}"></script>
    <script src="{% static 'js/botao-finalizar-modal.js' %}"></script>


    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap" rel="stylesheet">


    <!-- campos com autofocus -->

    <!-- <script src="{% static 'js/autofocus.js' %}"></script> -->

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'assets/css/tabela.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/inputs.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontes.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/formulario.css' %}">
    
</head>
<body>     
    
    <nav class="navbar" style="background-color: #063115;">
        <div class="container">
          <a href="{% url 'clinica_list' %}" class="navbar-brand" style="font-size: 25px; color: white;">Editar Pacientes <span style="font-size: 12px;">ver-1.0</span></a>
        </div>
    </nav>

       
    <!-- Modal -->
    <section>
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Aviso</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Deseja realizar as alterações?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-outline-success" id="confirmarBotao">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

 

    <main class="container mt-5 contorno_table">   
        <!-- <div class="mt-3">
            <a href="{% url 'clinica_list' %}" class="btn btn-outline-primary btn">
                Voltar à Página Inicial
            </a>
        </div>
     -->
        
        <h3 class="mt-3">Editar Cadastro</h3>
        <form class="mt-3"  method="POST">
            {% csrf_token %}
            
            {% load crispy_forms_tags %}
            {{ form | crispy }}
                       
            <button type="button" class="btn btn-outline-success mb-3 finalizar-botao" data-bs-toggle="modal" data-bs-target="#confirmModal">
                Finalizar
            </button>
        </form>
    </main>  

<!-- 

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="id_nome">Nome:</label>
            {{ form.nome }}
            {{ form.nome.errors }}
        </div>
        <div class="col-md-6 mb-3">
            <label>Email:</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="id_data_nascimento">Data de Nascimento:</label>
            {{ form.data_nascimento }}
            {{ form.data_nascimento.errors }}
        </div>
        <div class="col-md-6 mb-3">
            <label for="id_celular">Celular:</label>
            {{ form.celular }}
            {{ form.celular.errors }}
        </div>
    </div> -->


    {% include "partials/footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>