{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: #063115; color: white;">
    <div class="container-fluid">
        <a href="{% url 'clinica_list' %}" class="navbar-brand" style="font-size: 25px; color: white;">
            <i class="bi bi-hospital-fill"></i> Clinica Vida <span style="font-size: 12px;">ver-1.1</span>
        </a>
         
        {% if user.is_authenticated %}
            <div class="ml-auto">
                <div class="dropdown">
                    <span>Logado como:</span>
                    <button class="btn btn-outline-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person"></i> {{ user.username }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'deslogar_usuario' %}">Sair</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</nav>