.navbar {
    background-color: #198754; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    font-size: 16px;
}

/* Logo (texto Clínica Vida) */
.navbar-brand {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff !important; 
}

.navbar-brand i {
    margin-right: 8px;
    color: #ffffff !important;
}

/* Links da navbar */
.nav-link {
    color: #ffffff !important; 
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: 0.2s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: #d4f5e7 !important; 
}

/* Botão de dropdown (usuário) */
.dropdown-toggle {
    border-radius: 20px;
    border: 2px solid #ffffff;
    color: #ffffff !important;
    border-color: #ffffff !important;
    font-size: 17px;
    padding: 8px 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    
}

.dropdown-toggle::after {
    font-size: 1.1rem; /* Aumenta o tamanho da seta */
    vertical-align: middle;
    margin-left: 8px;
    color: #ffffff;
}

/* Hover no botão dropdown */
.dropdown-toggle:hover,
.dropdown-toggle:focus {
    background-color: #157347;
    color: #ffffff !important;
}
/* Estilo do menu dropdown */
.dropdown-menu {
    min-width: 180px;  /* Deixa o dropdown mais largo */
    padding: 15px 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Itens do menu */
.dropdown-item {
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: #e9f7ef;
    color: #198754;
}